body{
    max-width: 1200px;
    max-width: 0 auto;
    padding: 15px;
    background-image: url(../imagens/wpp-konoha.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: #3400ee;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.925);
}

a:hover{
    color: #FFE047;
    transition: 0.3s all;
}

.rede-1{
    box-shadow: 0 10px 30px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 30px;
}

.rede-2{
    box-shadow: 0 10px 30px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 30px;
}

.rede-3{
    color: #b3b95d;
    box-shadow: 0 10px 30px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 30px;
}

h1{
    font-weight: 200;
    color: white;
}

h2{
    font-size: 56px;
    color: white;
}

aside{
    max-width: 650px;
    margin: 40px auto;
    width: 90%;
    background: rgba(80, 75, 26, 0.301);
    border: 1px solid 2px solid rgba(219, 255, 12, 0.3);
    border-radius: 15px;
    padding: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(219, 255, 12, 0.3);
}

span{
    color: #b68d1bc7;
}

.b{
    color: #1d8f30;
}

p{
    color: #1d8f30;
}

footer{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 26px;
    background: rgba(15, 25, 18, 0.6);
    backdrop-filter: blur(9px);
    width: auto;
    max-width: 100%;
    text-align: center;
}

.footer span{
    color: #ffae18;
    font-size: 14px ;
    letter-spacing: 1px;
}

.imagem{
    width: 60px;
    height: 40px;
    object-fit: cover;
    border: 1px solid #1d8f30;
}

.denji{
    color: #bd6412;
}