body{
    max-width: 1200px;
    max-width: 0 auto;
    padding: 15px;
   background: linear-gradient(135deg, #174211 0%, #0d260a 100%);
    color: #91ff80;
   

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{   
    color: rgb(230, 21, 177);
    transition: 0.3s all;

}

.rede-1{
    border: 2px solid rgb(230, 21, 177);
    padding: 10px;
    border-radius: 20px;
}

.rede-2{
    border: 2px solid  rgb(236, 120, 12);
    border-radius: 20px;
    padding: 10px;
}

.rede-3{
    border: 2px solid ;
    color: 	#e3a000;
    border-radius: 20px;
    padding: 10px;
}

h1{
    font-weight: 200;
    color: white;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 80vh;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

aside{
    max-width: 650px;
    margin: 40px auto;
    width: 90%;
    background: rgba(130, 0, 90, 0.25);
    border: 1px solid rgba(215, 72, 171, 0.4);
    border-radius: 15px;
    padding: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

span{
    color: rgb(230, 21, 177);
}


.b{
    color: #50ec0d;
}

p{
    line-height: 20px;
    max-width: 500px;
}

